{% extends "administration/admin_std_template.html" %}

<title>{% block title %}Assign Profile{% endblock %}</title>

{% block content %}
    <div class="top-bar">
        Assign Profiles to Users
        <a href="http://127.0.0.1:8000/auth/home/" class="home-icon">&#x2302; Home</a>
    </div>
    <!-- Main Content -->
    <div class="container">
        <h3>Assign Profiles to Users</h3>
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <!-- NEEDS TO CHECK IF SUCCESSFUL OR FAILURE SO ALERT COLORING IS CORRECT -->
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="user" class="form-label">Select User</label>
                <select id="user" name="user" class="form-control">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="profile" class="form-label">Select Profile</label>
                <select id="profile" name="profile" class="form-control">
                    {% for profile in profiles %}
                    <option value="{{ profile.id }}">{{ profile.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Assign Profile</button>
        </form>
    </div> 
{% endblock %}
