{% extends "administration/admin_std_template.html" %}

<title>{% block title %}Create Access Profile{% endblock %}</title>

{% block content %}
    <!-- Top bar with name of view and the Home link -->
    <div class="top-bar">
        Create Access Profile
        <a href="http://127.0.0.1:8000/auth/home/" class="home-icon">&#x2302; Home</a>
    </div>

    <!-- Main Content -->
    <div class="container">
        <h3>Create Access Profile</h3>
        <form method="POST">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <h3>Permissions</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Can View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for function_name in functions %}
                    <tr>
                        <td>{{ function_name }}</td>
                        <td><input type="checkbox" name="{{ function_name }}_can_view"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success w-100">Create Profile</button>
        </form>
    </div> 
{% endblock %}
