{% extends "administration/admin_std_template.html" %}

<title>{% block title %}Edit Access Profile{% endblock %}</title>

{% block content %}
    <!-- Header -->
    <div class="top-bar">
        Edit Access Profile
        <a href="http://127.0.0.1:8000/auth/home/" class="home-icon">&#x2302; Home</a>
    </div>

    <!-- Main Content -->
    <div class="container">
        <h3>Edit Access Profile</h3>
        <form method="POST">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <h3>Edit Permissions</h3>
            {{ permission_formset.management_form }}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Can View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in permission_formset %}
                    <tr>
                        {{ form.as_p }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </form>
    </div>
    <!-- Footer -->
    <div>
        <p class="footer">&copy; 2025  The Time Project All Rights Reserved</p>
    </div>
{% endblock %}
