{% extends "administration/admin_std_template.html" %}

<title>{% block title %}Function Access Profile{% endblock %}</title>

{% block content %}
    <!-- Top Bar -->
    <div class="top-bar">
        <span>Function Access Profiles</span>
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
    </div>

    <!-- Main Content -->
    <div class="container content">
        <h3>Function Access Profiles</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'create_access_profile' %}">Create Access Profile</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'edit_access_profile' %}">Edit Access Profile</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'assign_profiles_to_user' %}">Assign Profiles to Users</a>
            </li>
        </ul>
    </div>
{% endblock %}
