<!-- This is the master std css that will be the "base" for all
     the std css used by each app. Django seems happier using
     one template per app to extend and one css per app. They
     feel that the apps will be more portable that way, so the whole
     app can be inserted into a different project **intact**, without 
     dependencies on files in different apps or projects. 
     DRY be dammed.!! Copy this file into each app as a starting point  -->
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3d9f0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-bar {
    background-color:#557ea1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
}
/* .top-bar h3 {
    margin: 0;
    font-size:1.5rem;
} */
.top-bar .home-icon {
    font-size:1.25rem;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.top-bar .home-icon:hover {
    color:orange
}
.container{
  flex:1;    
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
p.footer {
    background-color: #557ea1; 
    color: white;
    text-align: center;
    margin-top:30px;
    padding: 10px;
    font-size: 1rem;
}
